.content {
    margin: 70px;
    margin-bottom: 0px;
    font-family: 'Consolas';
    box-shadow: 5px 10px #ebebeb;
}

.content_dark {
    margin: 70px;
    margin-bottom: 0px;
    font-family: 'Consolas';
    box-shadow: 5px 10px #6a6a6a;
    border: 1px solid #6a6a6a;
}

.editor {
    margin-bottom: 20px;
}

.title {
    margin: 10px;
    user-select: none;
}

.frame {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
}

.frame_dark {
    background-color: rgb(18 18 18);
    width: 100%;
    height: 100%;
    position: absolute;

}

.text {
    color: black;
}


.text_dark {
    color: rgb(192 192 192);
}

.themeBtn {
    background-image: url(./img/dark_mode_black_36dp.svg);
    background-color: transparent !important;
    width: 36px;
    height: 36px;
    border: none !important;
}

.themeBtn:focus {
    border: none !important;
    box-shadow: none !important;
}

.themeBtn_dark {
    background-image: url(./img/light_mode_white_36dp.svg);
    background-color: transparent !important;
    width: 36px;
    height: 36px;
    border: none !important;
}

.themeBtn_dark:focus {
    border: none !important;
    box-shadow: none !important;
}

.copy-col {
    position: relative;
    top: -55px;
    left: -75px;
}

.copyBtn {
    background-image: url(./img/content_copy_black_24dp.svg);
    background-color: transparent !important;
    width: 24px;
    height: 24px;
    border: none !important;
}
.copyBtn:focus {
    border: none !important;
    box-shadow: none !important;
}

.copyBtn:hover {
    background-color: #6a6a6a;
}

.copyBtn_dark {
    background-image: url(./img/content_copy_white_24dp.svg);
    background-color: transparent !important;
    width: 24px;
    height: 24px;
    border: none !important;
}
.copyBtn_dark:focus {
    border: none !important;
    box-shadow: none !important;
}